@charset "utf-8";


body{
	background-color: white;
	color: black;
	font-weight: bold;
}

.text-left{
	display: block;
	background-color: lightgrey;
	border-radius: 20%;
	width: 100%;
	padding: 1%;
	margin-top: 5%;
	text-align: center;
}

nav{
	color: blue;
}


