<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Caf menu</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Social buttons for Bootstrap -->
    <link href="../static/css/bootstrap-social.css" rel="stylesheet" >
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <link href="../static/css/docs.css" rel="stylesheet" >
    <link href="../static/css/cssStyles.css" type="text/css" rel="stylesheet">


    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body onload=' location.href="#{{date}}" '>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Luther College Caf Menu</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="contact">Contact</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="upload">Upload</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                
                <h1>Caf Menu</h1>
                <h2>Today: <a data-toggle="collapse" href="#collapse{{currentMeal}}{{date}}" id="current-menu">{{date}}</a></h2>
            </div>
        </div>
        <!-- /.row -->



        <div>

            {% for element in week %}
            {% for day in menu %}

            {% if day == element %}

            
            
            <h2 class="text-left" id="{{day}}">{{day}}</h2>
            {% for element2 in meals %}
            {% for meal in menu[day] %}

            {% if meal == element2 %}

            <div id="{{day}}">
              <div class="card">
                <div class="card-header">
                  <h3 id="{{meal}}">
                    <a id="link{{meal}}{{day}}" data-toggle="collapse" href="#collapse{{meal}}{{day}}" aria-expanded="false">
                      {{meal}}
                    </a>
                  </h3>
                </div>
                <div id="collapse{{meal}}{{day}}" class="collapse" data-parent="#{{day}}">
                  <div id={{meal}}{{day}} class="card-body">
                    {% for line in menu[day][meal] %}
                    <h4>{{line}}:</h4>
                    {% for food in menu[day][meal][line] %}
                    <p>{{food}}</p>
                    {% endfor %}
                    {% endfor %}
                    <div class="close-menu">
                        <a id="close-menu" data-toggle="collapse" href="#collapse{{meal}}{{day}}" aria-expanded="false" onclick="Click({{meal}}">Close</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}

            {% endif %}

            {% endfor %}
            {% endfor %}
            
        </div>

    </div>

    <script>
    function Click({{meal}}) {
        window.location.href="#{{meal}}";
    }
    </script>

    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.js"></script>
    <script>
    document.getElementById("current-menu").click();
    
    // function Click(day-tab) {
    //     window.location.href="#day-tab"
    // }
    </script>

</body>

</html>
